/* さわらび明朝 */
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

body{
    font-family: 'Sawarabi Mincho', sans-serif;
    background-color: black;
}

.clear_ {
    height: 100vh;
}
.clear_message{
    text-align: center;
    color: #C1C4CB;
    margin: 50px 0;
}

.clear_message p{
    margin: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
    height: 55px;
    font-size: 50px;
    display: flex;
    overflow: hidden;
    color: #C1C4CB;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    justify-content: center;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}
.title span:nth-child(8) {
  transition-delay: 0.42s;
}
.title span:nth-child(9) {
  transition-delay: 0.48s;
}
.title span:nth-child(10) {
  transition-delay: 0.54s;
}
.title span:nth-child(11) {
  transition-delay: 0.6s;
}
.title span:nth-child(12) {
  transition-delay: 0.66s;
}
.title span:nth-child(13) {
  transition-delay: 0.72s;
}
.title span:nth-child(14) {
  transition-delay: 0.78s;
}
.title span:nth-child(15) {
    transition-delay: 0.8s;
}
.title span:nth-child(16) {
    transition-delay: 0.82s;
}

.clear_share{
    display: flex;
    justify-content: space-evenly;
}

.clear_share button{
    width: 300px;
    height: 100px;
    padding: 10px;
    font-size: large;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;
}

