/* さわらび明朝 */
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

body{
  font-family: 'Sawarabi Mincho', sans-serif;
  width: 100vw;
  height: 100vh;
}
/* ----------
loading
---------- */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.loading_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgb(173, 173, 173);
  color: rgb(173, 173, 173);
  text-align: center;
  font-size: 60px;
}

.loading_wrapper.-visible:before {
  transform: translate(0, 0);
}

.loading_wrapper:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(0, 100%);
  transition: transform cubic-bezier(0.65, 0, 0.35, 1) 2.5s;
  content: '';
}
.loading_container{
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading_container h1 img{
  display: block;
  width: auto;
  opacity: 0;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s, opacity linear 3s;
}

.loading_container img {
  width: 150px;
}

.loading_wrapper.-visible .loading_container h1 img{
  opacity: 1;
  transform: translate(0, 0);
}

/* .loading_container h1::after{
  background-image: url('../img/posseLogotouka.png');
  font-size: 15px;
  color: rgb(133, 119, 214);
  content: 'presents by POSSE';
  position: absolute;
  right: 0;
  transform: translate(0, -100%);
  margin-top: 80px;
 
} */

.loading_container #click_me{
  margin-top: 50px;
  font-size: 25px;
}

/* ----------
 -click to start - の点滅
---------- */
.blink {
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes blink {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* ----------
start
---------- */
.start_wrapper{
  background-color: rgb(173, 173, 173);
  text-align: center;
  height: 100%;
  background: linear-gradient( #2b2b33 0%, #000000 16%, #2d313b 50%, #000000 87%, #000 100%);
  color: #fff;
  background-image: url('../img/pink_universe.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat repeat; 
  position: relative;
}
.start_explain{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 4;
  text-align: center;
  font-size: 1rem;
}

#game_start a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-family: 'Sawarabi Mincho';
  font-family: 'Montserrat Subrayada', sans-serif;
}
.start_button_wrapper{
  width: auto;
  display: none;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%,0);
}

/* タイプライティングアニメーション */
.text_typing span{
  display: none;
}
.text_typing::after {
  content: "|";
 animation: typinganime 1s ease infinite;
}
@keyframes typinganime{
 from{opacity:0}
 to{opacity:1}
}
/* アニメーションここまで */
.start_explain button{
  padding: 10px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.notClick{
  pointer-events: none;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#000;  /* 背景カラー */
  z-index: 9999;  /* 一番手前に */
  pointer-events: none;  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;  /* 初期値 : 透過状態 */
  -webkit-transition: opacity .8s ease;  /* アニメーション時間は 0.8秒 */
  transition: opacity .8s ease;
  background-image: url('../img/universe.jpeg');
  background-size: cover;
  
}
body.fadeout::after {
  opacity: 1;
}




/* ⬇︎----------------------------------------------スマホ画面用---------------------------------------------------------⬇︎*/
@media screen and (max-width:480px){
  
.loading_wrapper.-visible:before {
  transform: translate(0, 0);
}

.loading_container{
  top: 50%;
}
.loading_container h1 {
  font-size: 30px;
}
.loading_container h1::after{
  right: 15%;
  margin-top: 70px;
}

.loading_container #click_me{
  margin-top: 70px;
}

/* ----------
start
---------- */
.start_explain{
  max-width: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  line-height: 2.5;
  text-align: center;
  font-size: 1rem;
}
.start_explain p{
  overflow-wrap: normal;
}
.start_explain button{
  width: 60%;
  margin-top: 50px;
  padding: 5px;
}
}

/* audio{
  z-index: 1;
} */