
span{
  font-weight: bold;
}

.questions_correct, .questions_incorrect{
  text-align: center;
}

.questions_correct span{
  color: red;
}

.questions_incorrect span{
  color: blue;
}



/* 全体 */
main {
  gap: 10%;
}

/* 問題画面 */
.questions_question_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions_question_container p {
  text-align: center;
}
.questions_question_container img {
  width: 30%;
}

/* 提出画面 */
.questions_submit_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions_submit_container input {
  width: 50%;
}
.questions_submit_container button {
  width: 50%;
}

/* ヒント・諦めるボタン画面 */
.questions_hint_quit_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions_hint_quit_container button {
  width: 50%;
}

/* ヒント画面 */
.hint_{
  display: none;
  text-align: center;
}
.hint_ h3{
  font-size: x-large;
  font-weight: bold;
  color: red;
  margin: 5%;
}
.hint_ p{
  font-size: large;
  margin-bottom: 5%;
}
.hint_buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hint_try_again{
  border: none;
  border-radius: 10px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5%;
}
.hint_go_profile{
  border: none;
  border-radius: 10px;
  background: #4676D7;
  padding: 16px 32px;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5%;
}
.hint_go_profile a {
  text-decoration: none;
  color: #fff;
}
/* 諦める画面 */
.quit_{
  display: none;
  text-align: center;
}

.quit_ h3{
  font-size: x-large;
  font-weight: bold;
  color: red;
  margin: 5%;
}
.quit_ p{
  font-size: large;
  font-weight: bold;
  margin-bottom: 5%;
}



.notClick{
  pointer-events: none;
}
