@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

body{
  font-family: 'Sawarabi Mincho', sans-serif;
  width: 100vw;
  height: 100vh;
}

button{
  font-family: 'Sawarabi Mincho', sans-serif;
}

.questions_correct, .questions_incorrect{
  text-align: center;
}

.questions_correct span{
  color: red;
  font-weight: bold;
}

.questions_incorrect span{
  color: blue;
  font-weight: bold;
}


/* 全体 */
main {
  gap: 10%;
}

/* カウントダウン */
.questions_countdown_container{
  width: 100%;
  height: 100vh;
  background-image: url('../img/universe.jpeg');
  background-size: cover;
}


/* テキストのスタイル  */
.questions_countdown_text {
  display: block;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
 


/* 問題画面 */
.questions_question_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: -webkit-linear-gradient(135deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
  background-image: linear-gradient(-45deg, #ccc 0%, #868888 20%, #d8dcdc 34%, white 53%, #ccc 100%);
  width: 650px;
  height: 250px;
  margin: 40px auto;
  font-size: 30px;
  line-height: 150%;
}
.questions_question_container p {
  text-align: center;
  margin:10px 0 20px 0;
}
.questions_question_container img {
  width: 30%;
}

/* 提出画面 */
.questions_submit_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions_submit_container input {
  width: 20%;
  border-radius: 10px;
  box-shadow: 0 0 7px gray;
  border: 1px solid gray;
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 3%;
  margin-top: 10px;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.questions_submit_container button {
  border: 5px;
  border-radius: 30px;
  background: #4676D7;
  color: #fff;
  padding: 16px 32px;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 3%;
}

/* ヒント・諦めるボタン画面 */
.questions_hint_quit_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions_hint_quit_container button {
  width: 20%;
  border: 5px;
  border-radius: 10px;
  background: #4676D7;
  color: #fff;
  padding: 16px 32px;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 3%;
}
.questions_hint_quit_container button a{
  color: red;
}

/* ヒント画面 */
.hint_{
  display: none;
  text-align: center;
}
.hint_ h3{
  font-size: x-large;
  font-weight: bold;
  color: red;
  margin: 5%;
}
.hint_ p{
  font-size: large;
  margin-bottom: 5%;
}
.hint_buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hint_try_again{
  border: none;
  border-radius: 10px;
  background: #e60b0b;
  color: #fff;
  padding: 8px 16px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5%;
}
.hint_try_again a{
  text-decoration: none;
  color: #fff;
}
.hint_go_profile{
  border: none;
  border-radius: 40px;
  background: #1da1f2;
  padding: 16px 32px;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5%;
}
.hint_go_profile:hover{
  opacity: 0.7;
}
.hint_go_profile a {
  text-decoration: none;
  color: #fff;
}


.notClick{
  pointer-events: none;
}

/* 「問題はまだ終わってません」セクション  */
#question4{
  height: 30vh;
  background-color: lightslategray;
}