/* 諦める画面 */
body{
    margin: 0;
}
h1{
    display: block;
    background: linear-gradient( #2b2b33 0%, #000000 16%, #2d313b 50%, #000000 87%, #000 100%);
    padding: 3% 0;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5%;
  }
  
  .quit_{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .quit_ img{
    width: 50%;
    height: 90%;
  }
  .quit_ p{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 15%;
  }
  .reset{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    padding: 9px 15px;
    border: 3px solid #333;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transition: .3s;
  }
  .reset::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #333;
    transform-origin: 50% 0%;
    transform: scaleY(0);
    transition: transform ease .3s;
  }
  .reset:hover {
    color: #fff;
  }
  .reset:hover::before {
    transform-origin: 50% 100%;
    transform: scaleY(1);
  }
  
  

/* ⬇︎----------------------------------------------スマホ画面用---------------------------------------------------------⬇︎*/
@media screen and (max-width:480px){
  
h1{
    font-size: large;
    margin-bottom: 10%;
}
.quit_{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.quit_ img{
  width: 40%;
}
.quit_ p{
  font-size: 16px;
  margin-bottom: 10%;
}
.reset{
  font-size: 14px;
  padding: 4px 8px;
  border: 2px solid #333;
}

}